{% extends "_layout-normal" %}

{% set title = entry.title ~ ' | Eugene Fedorenko' %}
{# set metaDesc = entry.metaDescription #}

{% block content %}

  <div class="u-container u-container--narrow">
    <article class="o-post o-post--local c-post-lead">

      {# TODO: this template is really complicated. Let's break it down into multiple templates. #}

      <time datetime="{{ entry.postDate.iso8601() }}" class="o-post_time c-post-lead_time">{{ entry.postDate.format('M j, Y') }}</time>

      {% include 'elements/components/books/_cover' with {'entry': entry, 'class': 'o-post_cover'} %}

      <h1 class="o-post_title u-title-section">
        {% if entry.type == 'book' %}
          {{ entry.title }}
        {% else %}
          <a href="{{ entry.postURL }}" class="o-post_link">{{ entry.title }}</a> &rarr;
        {% endif %}
      </h1>

      {% if entry.readingAuthor %}
        <p class="o-post_author">By {{ entry.readingAuthor }}</p>
      {% endif %}

      <div class="o-post_body s-text">
        {% if entry.type == 'book' %}
          <small>
            {% if entry.amazonLink %}<a href="{{ entry.amazonLink }}">Amazon</a>{% endif %}

            &nbsp;&bull;&nbsp;

            {% if entry.bookStarted %}{{ entry.bookStarted }}{% endif %}
            —
            {% if entry.bookFinished %}
              {{ entry.bookFinished }}
            {% else %}
              &hellip;
            {% endif %}
          </small>
        {% endif %}

        {{ entry.body }}
      </div>

      {% set prev = entry.getNext( craft.entries.section('reading') ) %}
      {% set next = entry.getPrev( craft.entries.section('reading') ) %}

      {% include 'elements/components/pagination/_pagination' with {
        'prevUrl': prev.url | default(''),
        'prevTitle': prev.title | default(''),
        'nextUrl': next.url | default(''),
        'nextTitle': next.title | default('')
      } only %}

    </article>
  </div>

{% endblock %}
