{% extends "_layout-normal" %}

{% set title = 'What Eugene Fedorenko is reading' %}
{% set metaDesc = 'TODO: description' %}

{% block headMeta %}
  {#
  <link rel="alternate" href="{{ url('blog') }}/feed.atom" type="application/atom+xml" title="DeployBot Blog">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ metaDesc }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('blog') }}">
  <link rel="canonical" href="{{ url('blog') }}">
  #}
{% endblock %}

{% block content %}

  <div class="u-container u-container--narrow">

    <div class="c-page-head">
      <h1 class="o-page-title c-page-head_title">Reading <em class="o-page-title_note">(never enough)</em></h1>
      {% include 'elements/components/books/_current-books' with {
        'books': craft.entries.section('reading').type('book'),
        'extraClass': 'c-current-books--page-title'
      } %}
    </div>

    {% include 'elements/components/posts/_posts' with {'channel': 'reading', 'limit': 10, 'type': 'excerpts'} %}
  </div>

{% endblock %}
