{% extends "_layout-normal" %}

{% set title = 'Eugene Fedorenko is designing' %}
{% set metaDesc = 'TODO: description' %}
{% set bodyMods = 'c-body--works' %}

{% block headMeta %}
  {#
  <link rel="alternate" href="{{ url('blog') }}/feed.atom" type="application/atom+xml" title="DeployBot Blog">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ metaDesc }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('blog') }}">
  <link rel="canonical" href="{{ url('blog') }}">
  #}
{% endblock %}

{% block content %}

  <div class="c-portfolio">
    <div class="u-container u-container--narrow">
      <div class="c-page-head">
        <h1 class="o-page-title c-page-head_title">Designing <em class="o-page-title_note">(and building, too)</em></h1>
      </div>

      <div class="c-work-story s-text">
        <p>That’s the place where normally designers show their portfolio, but turns out I don’t really have one. That’s okay. The thing is, for the last 11 years I’ve been happy to work at <a href="http://wildbit.com">the same company</a>, and for last 8 years on the same products — <a href="http://beanstalkapp.com" class="u-link-bs">Beanstalk</a>, <a href="https://postmarkapp.com" class="u-link-pm">Postmark</a>, and lately <a href="https://deploybot.com" class="u-link-db">DeployBot</a>. (You don’t want to see the work I did before starting this job in 2004.)</p>
        <p>Over the years I had a chance to work with multiple talented designers, and our whole team always had influence on design decisions (in a good, non-committee way). So in the end I can’t say that “I designed” any of our products with a straight face. I designed some workflows, user interfaces, sections, elements, forms, public websites, and blogs. I also coded all of them and worked closely with developers to implement them.</p>
        <p>Building portfolio with screenshots of app screens with beautifully picked data is silly, and writing case studies explaining problem solving processes is for agenices. If for some reason you’re interested in my work just check out our products. I’ll be happy if you like them.</p>
      </div>
    </div>

    <div class="c-portfolio_left">
      <span class="ss ss_beanstalk-landing-30"></span>
      <span class="ss ss_postmark-stats-60"></span>
      <span class="ss ss_deploybot-home-30"></span>
      <span class="ss ss_postmark-activity-45"></span>
      <span class="ss ss_whentobuymac-70"></span>
    </div>

    <div class="c-portfolio_right">
      <span class="ss ss_deploybot-dashboard-45"></span>
      <span class="ss ss_beanstalk-dashboard-60"></span>
      <span class="ss ss_postmark-hacker-60"></span>
      <span class="ss ss_wildbit-card-30"></span>
      <span class="ss ss_wildbit-blog-60"></span>
    </div>
  </div>


  <div class="u-container">
    <div class="u-grid u-grid--gutters-l">
      <div class="u-grid-cell c-project">
        <a href="http://beanstalkapp.com" class="c-project_link c-project_link--bs">Beanstalk</a>

        <div class="u-grid u-grid--gutters-s c-project_favs">
          <h3 class="u-grid-cell c-project_subtitle">Personal favorites:</h3>
          <ul class="u-grid-cell u-list-bulletless">
            <li>Public site</li>
            <li>Deployments</li>
            <li>Code reviews</li>
            <li>Changesets</li>
            <li>Dashboard</li>
          </ul>
        </div>
      </div>
      <div class="u-grid-cell c-project">
        <a href="https://postmarkapp.com" class="c-project_link c-project_link--pm">Postmark</a>

        <div class="u-grid u-grid--gutters-s c-project_favs">
          <h3 class="u-grid-cell c-project_subtitle">Personal favorites:</h3>
          <ul class="u-grid-cell u-list-bulletless">
            <li>Public site</li>
            <li>Deployments</li>
            <li>Code reviews</li>
            <li>Changesets</li>
            <li>Dashboard</li>
          </ul>
        </div>
      </div>
      <div class="u-grid-cell c-project">
        <a href="https://deploybot.com" class="c-project_link c-project_link--db">DeployBot</a>

        <div class="u-grid u-grid--gutters-s c-project_favs">
          <h3 class="u-grid-cell c-project_subtitle">Personal favorites:</h3>
          <ul class="u-grid-cell u-list-bulletless">
            <li>Public site</li>
            <li>Deployments</li>
            <li>Code reviews</li>
            <li>Changesets</li>
            <li>Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="u-container u-container--narrow">
    <h2 class="u-title-section">Dribbble <em class="u-normal-weight">(work in progress)</em></h2>
  </div>
  <div class="u-container">
    {% include 'elements/components/work/_dribbble' with {'limit': 4, 'mods': 'c-dribbble--wide'} %}
  </div>


{% endblock %}
