<article class="
  o-post
  o-post--{{ entryModifier }}
  c-post-lead
  c-post-lead--travel
  {% if entry.hasDescendants() %}c-post-lead--multipart-trip{% endif %}
  {% if entry.getAncestors(1)|length and isTOC is not defined or false %}c-post-lead--part-of-trip{% endif %}
">
  {% if not entry.hasDescendants() %}
    <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full u-grid--2-cols-at-medium">
      <div class="u-grid-cell u-grid-cell--1of2-at-medium">
        {% set image = entry.primaryImage.first() %}
        {% set thumb = {
            mode: 'crop',
            width: 600,
            quality: 75,
            position: 'center-center'
        } %}
        {% if image %}
          <a href="{{ entryURL }}">
            <img src="{{ image.getUrl(thumb) }}" alt="" class="c-post-lead_primary-image" />
          </a>
        {% endif %}
      </div>

      <div class="u-grid-cell u-grid-cell--1of2-at-medium">
  {% endif %}

        <h2 class="o-post_title c-post-lead_title">
          {% if isExternalWriting %}<span class="o-post_favicon o-post_favicon--{{ entry.postSource }} c-post-lead_favicon"></span>{% endif %}
          <a href="{{ entryURL }}" class="o-post_link">{{ entry.title }}</a>
          {% if isExternalWriting or isLink %}<span class="o-post_arr">&rarr;</span>{% endif %}
        </h2>

        <div class="o-post_travel-dates">
          {% include 'elements/components/posts/_travel-dates' %}
        </div>

        <div class="o-post_excerpt c-post-lead_excerpt s-text">
          <p>{{ entry.metaDesc }}</p>
        </div>

  {% if not entry.hasDescendants() %}
      </div>
    </div>
  {% endif %}
</article>
