<entry>

  <title>{{ entry.title }} {% if isExternalWriting or isLink %}→{% endif %}</title>
  <link rel="alternate" type="text/html" href="{{ entryURL }}" />
  <id>{{ entryURL }}</id>
  <published>{{ entry.postDate.atom }}</published>
  <updated>{{ entry.dateUpdated.atom }}</updated>
  <author>
    <name>Eugene Fedorenko</name>
    <email>{{ entry.author.email }}</email>
  </author>

  <content type="html" xml:lang="en" xml:base="{{ siteUrl }}"><![CDATA[

    {% if isExternalWriting %}
      {{ entry.excerpt }}
    {% elseif entry.matrixContent is defined and entry.matrixContent|length %}
      {% include 'elements/components/matrixContent/_matrixContent' with {
        'isFeed': true
      } %}
    {% else %}
      {{ entry.body }}
    {% endif %}

  ]]></content>
</entry>

