<!doctype html>

<html lang="en">

{% set metaDesc = 'Eugene Fedorenko is a Principal Product Designer at Postmark and the author of Figmalion.' %}

<head>
  {% include 'elements/components/head-meta/_head-meta' %}

  {% include 'elements/components/open-graph/_open-graph' with {
    'url': siteUrl,
    'title': 'Eugene Fedorenko, Product Designer',
    'description': metaDesc
  } only %}

  <link rel="alternate" href="feed.atom" type="application/atom+xml" title="Eugene Fedorenko">
  <link rel="alternate" href="{{ url('writing') }}/feed.atom" type="application/atom+xml" title="Eugene is writing">
  <link rel="alternate" href="{{ url('reading') }}/feed.atom" type="application/atom+xml" title="Eugene is reading">
  <link rel="alternate" href="{{ url('traveling') }}/feed.atom" type="application/atom+xml" title="Eugene is traveling and photographing">
</head>

<body class="c-body">

{% include 'elements/components/hero-intro/_hero-intro' %}

{% include 'elements/components/figma-goodies/_figma-goodies' %}

<div class="u-container">
  <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full u-grid--2-cols-at-medium">
    <div class="u-grid-cell">

      <h2 class="u-title-section"><a href="{{ url('writing') }}" class="u-title-section_link">Writing</a></h2>

      <ul class="c-posts-list">
        {% include 'elements/components/posts/_posts' with {
          'channel': 'writing',
          'limit': 7,
          'type': 'titles',
          'isPaginationVisible': false
        } %}
      </ul>

      <a href="/writing" class="u-see-more">Read older posts</a>

    </div>
    <div class="u-grid-cell">

      <div class="u-grid u-grid--baseline">
        <h2 class="u-grid-cell u-title-section"><a href="{{ url('reading') }}" class="u-title-section_link">Reading</a></h2>
        {% include 'elements/components/books/_current-books' with {
          'books': craft.entries.section('reading').type('book'),
          'extraClass': 'u-grid-cell u-align-right'
        } %}
      </div>

      <ul class="c-posts-list">
        {% include 'elements/components/posts/_posts' with {
          'channel': 'reading',
          'limit': 7,
          'type': 'titles',
          'modifier': 'compact',
          'isPaginationVisible': false
        } %}
      </ul>

      <a href="{{ url('reading') }}" class="u-see-more">See more recommendations</a>

    </div>
  </div>
</div>

<div class="c-work-wrapper">

  <div class="u-container">
    <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full">
      <div class="u-grid-cell u-grid-cell--1of3-at-medium c-portfolio c-portfolio--aside">
        {% include 'elements/components/portfolio/_portfolio' %}
      </div>

      <div class="u-grid-cell u-grid-cell--2of3-at-medium">
{#
        <h2 class="u-title-section"><a href="{{ url('designing') }}" class="u-title-section_link">Designing</a></h2>
        <div class="s-text">
          <p>See <a href="{{ url('designing') }}">what exactly I am doing</a> at Wildbit, or peek at <a href="https://dribbble.com/efedorenko">Dribbble</a>.</p>
        </div>

        <h2 class="u-title-section u-title-section--detached">Coding</h2>
        <div class="s-text">
          <p>I contributed to <a href="https://github.com/efedorenko">a few open-source projects</a> and maintain <a href="https://github.com/wildbit/stylelint-config-wildbit">Wildbit-specific config</a> for Stylelint.</p>
        </div>
#}
        <h2 class="u-title-section u-title-section--detached"><a href="{{ url('traveling') }}" class="u-title-section_link">Traveling + Photographing</a></h2>
        <div class="s-text">
          <p>I love outdoors photography and publish reports from trips:</p>
        </div>

        <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full u-grid--2-cols-at-medium">
          {% set type = 'travel' %} 
          {% set channel = 'traveling' %}
          {% set entries = craft.entries.section(channel) %}

          {% for entry in entries %}
            {% set isExternalWriting = (entry.type == 'externalPost') %}
            {% set isLink = (entry.type == 'article' or entry.type == 'website') %}
            {% set entryURL = isExternalWriting ? entry.postURL : entry.url %}
            {% set entryModifier = isExternalWriting or isLink ? 'external' : 'local'  %}

            {# Show only unique years in _posts-titles #}
            {% set markerPrev = '' %}
            {% set marker = entry.postDate.format('Y') %}
            {% set markerUnique = marker %}
            {% set markerPrev = marker %}

            {% if not entry.getAncestors(1)|length %}
              <div class="u-grid-cell u-grid-cell--1of2-at-medium">
                <article class="
                  o-post
                  o-post--{{ entryModifier }}
                  c-post-lead
                  c-post-lead--thumbs
                  c-post-lead--travel
                ">
                  {% set image = entry.primaryImage.first() %}
                  {% set thumb = {
                      mode: 'crop',
                      width: 600,
                      quality: 75,
                      position: 'center-center'
                  } %}
                  {% if image %}
                    <a href="{{ entryURL }}">
                      <img src="{{ image.getUrl(thumb) }}" alt="" class="c-post-lead_primary-image" />
                    </a>
                  {% endif %}

                  <h2 class="o-post_title c-post-lead_title">
                    {% if isExternalWriting %}<span class="o-post_favicon o-post_favicon--{{ entry.postSource }} c-post-lead_favicon"></span>{% endif %}
                    <a href="{{ entryURL }}" class="o-post_link">{{ entry.title }}</a>
                    {% if isExternalWriting or isLink %}<span class="o-post_arr">&rarr;</span>{% endif %}
                  </h2>

                  <div class="o-post_travel-dates">
                    {% include 'elements/components/posts/_travel-dates' %}
                  </div>

                </article>
              </div>
            {% endif %}
          {% endfor %}
        </div>

{#
        <ul class="c-posts-list c-posts-list--travel">
          {% include 'elements/components/posts/_posts' with {
            'channel': 'traveling',
            'limit': 5,
            'type': 'titles',
            'isPaginationVisible': false
          } %}
        </ul>
#}
      </div>
    </div>
  </div>

</div>

{% include 'elements/components/scripts/_scripts' %}

</body>
</html>
